<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Title -->
<title>idms</title>


<!-- ***** Header Area Start ***** -->
<header class="header_area animated">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Menu Area Start -->
            <div class="col-12 col-lg-12">
                <div class="menu_area">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#">IDMS</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <!-- Menu Area -->
                        <div class="collapse navbar-collapse" id="ca-navbar">
                            <ul class="navbar-nav ml-auto" id="nav">
                                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                                <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                                <li class="nav-item"><a class="nav-link" href="#screenshot">Screenshot</a></li>
                                <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonials</a></li>
                                <li class="nav-item"><a class="nav-link" href="#pricing">Endorser Login</a></li>
                                
                                
                                <li class="nav-item"><a class="nav-link" href="/login">User Login</a></li>
                                <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
                            </ul>
                            <!-- <div class="sing-up-button d-lg-none">
                                <a href="#">Sign Up Free</a>
                            </div> -->
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Signup btn -->
            <!-- <div class="col-12 col-lg-2">
                <div class="sing-up-button d-none d-lg-block">
                    <a href="/signup">Sign Up</a>
                </div>
            </div> -->
        </div>
    </div>
</header>





<!-- ***** Header Area End ***** -->
